"use strict";

var db = require('../services/database').sql;
var queue = require('../services/queue');

var table = '<%= service %>s';
var debug = require('debug')(table);

// Define schema
var schemaObject = {
    // ++++++++++++++ Modify to your own schema ++++++++++++++++++
    name: {
        type: db._sequelize.STRING
    },
    someOtherStringData: {
        type: db._sequelize.STRING
    },
    toPop: {
        type: db._sequelize.INTEGER
    }
    // ++++++++++++++ Modify to your own schema ++++++++++++++++++
};


schemaObject.owner = {
    type: db._sequelize.INTEGER
};

schemaObject.createdBy = {
    type: db._sequelize.INTEGER
};

schemaObject.client = {
    type: db._sequelize.INTEGER
};

schemaObject.developer = {
    type: db._sequelize.INTEGER
};

schemaObject.tags = {
    type: db._sequelize.STRING
};

schemaObject._id = {
    type: db._sequelize.INTEGER,
    primaryKey: true,
    autoIncrement: true
};


// Define the table
var <%= service %>s = db.define(table, schemaObject, {
    // Don't really delete data
    // paranoid: true,
    // define indexes here
    indexes:[{
        fields:['tags']
    },
    {
        unique: true,
        fields:['_id']
    }]
});

// <%= service %>s.hasMany(<%= service %>s, {foreignKey: 'toPop', sourceKey: '_id'});

// Adding hooks
<%= service %>s.afterCreate(function(user, options) {
    // Indexing for search
    var ourDoc = user.dataValues;
    ourDoc.isSQL = true;
    ourDoc.model = table;

    // Dump it in the queue
    queue.create('searchIndex', ourDoc)
    .save();
});

<%= service %>s.search = function(string){
    return <%= service %>s.findAll({
        where: {
            tags: {
                $like: '%'+string
            }
        }
    });
};

<%= service %>s.sync();

<%= service %>s.transaction = db.transaction;

module.exports = <%= service %>s;
// ToDo: Test transactions
