{
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "it": "readonly",
        "process": "readonly",
        "describe": "readonly",
        "before": "readonly",
        "afterEach": "readonly",
        "after": "readonly",
        "Buffer": "readonly",
        "__dirname": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "semi": ["error", "always"],
        "camelcase": "off",
        "comma-dangle": "off",
        "indent": 2,
        "prefer-const": ["error", {
            "destructuring": "any",
            "ignoreReadBeforeAssign": false
        }],
        "no-unused-vars": "off"
    }
}
